



<section class="bg-zinc-900 p-20 rounded-xl my-4 ">
    <h2 class="text-center text-5xl font-bold my-5">About Us</h2>
    <p class="text-zinc-300">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, illo placeat sapiente, fuga laborum deserunt doloribus quis voluptatibus voluptate et ullam? Deleniti perspiciatis corporis delectus officia consectetur? Reiciendis, minus eligendi!</p>

</section>