



<header class="bg-zinc-900 flex flex-col p-20 gap-3 md:flex-row text-center md:text-left">
  <div>
    <h1 class="text-5xl font-bold mb-3">Protect Your Password<span class="text-indigo-500 ">.</span></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, debitis!</p>
    <button class="bg-indigo-500 px-3 py-2 my-4 hover:bg-indigo-400 rounded-md">Empezar ahora</button> 
  </div>
    <img src="images/surf.svg" alt="" class="w-80">
</header>